<a href="https://colab.research.google.com/github/MinionSoda/COS3109_Artificial-Intelligence_week1/blob/main/cos_3109_week2_homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise

## 1. Colab: Create a code cell underneath this text cell and add code to: 
- List the path of the current directory (pwd) 
- Go to / (cd) and list the content (ls-l)

In [41]:
!pwd
!cd #/<location>
!ls -l

/content
total 4
drwxr-xr-x 1 root root 4096 Jul 13 13:43 sample_data

## 2. Python lists without Numpy: Print the second item in the fruits list:  fruits = ["apple", "banana", "cherry"]

In [42]:
fruits = ["apple", "banana", "cherry"]
print (fruits[1])

banana

## 3. Change the value from “apple” to “kiwi”, in the fruits list:

In [43]:
fruits[0] = "kiwi"
print (fruits)

['kiwi', 'banana', 'cherry']

## 4. Use the append method to add “orange” to the fruits list:

In [44]:
fruits.append("orange")
print (fruits)

['kiwi', 'banana', 'cherry', 'orange']

## 5. Use the insert method to add “lemon” as the second item in the fruits list:

In [45]:
fruits.insert(1,"lemon")
print (fruits)

['kiwi', 'lemon', 'banana', 'cherry', 'orange']

## 6. Use the remove method to delete “banana” from the fruits list:

In [46]:
fruits.remove("banana")
print (fruits)

['kiwi', 'lemon', 'cherry', 'orange']

## 7.Python If…Else: Print “Hello World” if a is greater than b:  
a = 50 c = 20 
 b = 10 d = 20

In [51]:
a = 50
c = 20
b = 10
d = 20

if (a > b):
  print ("Hello World")

Hello World

## 8. Print “Hello World” if a is not equal to b:

In [53]:
if (a != b):
  print ("Hello World")

Hello World

## 9. Print “Yes” if a is equal to b, otherwise print “No”:

In [60]:
if (a == b):
  print ("yes")
else:
  print ("No")

No

## 10. Print “1” if a is equal to b, print “2” if a is greater than b, otherwise print “3”:

In [61]:
if (a == b):
  print ("1")
elif (a > b):
  print ("2")
else:
  print ("3")

2

## 11. Print “Hello” if a is equal to b, and c is equal to d:

In [63]:
if (a == b and c == d):
  print (Hello)

13. Python Loops: Print i as long as i is less than 6:

In [68]:
i = 1
while i < 6:
  print(i)
  i = i + 1

IndentationError: ignored

## 14. From #13 stop the loop if i is 3:

In [69]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i = i + 1

1
2
3